<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- Search Engine Optimization -->
	<title>Postal Rate Calculator</title>
	<meta name="description" content="Postal Rate Calculator">
	<meta name="keywords" content="Postal Rate, Calculator">
	<meta name="author" content="Davi Neves">

	<!-- responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- encoding -->
    <meta charset="UTF-8" />

    <!-- styles -->
	<link rel="stylesheet" href="./stylesheets/main.css" />
	
    <!-- script -->
	 <script src="./javascripts/getRate.js"></script>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <h2>Postal Rate Calculator</h2>
	</header>
    <div class="clearfix">
        <section>
			<h1>
				This free postal rate calculator lets you estimate your cost to mail a letter or package  
				through USPS.
			</h1>
			<div class="row">
				<div class="col-4 col-s-3 menu">
					<div class="button-link-container">
						<a href="#"><div class="button-link link-current">Postal Rate Calculator</div></a><br />
					</div>
				</div>
                <div class="col-4 col-s-9">
						<label for="cars">Enter your parcel's type:<br /></label>
						<select id="type" name="parcels" id="parcel_type" style="font-size: inherit;">
						  <option value="stamped">Stamped</option>
						  <option value="metered">Metered</option>
						  <option value="flats">Flats</option>
						  <option value="first-class">First-class</option>
						</select> 
						<br />
						<br />
						<span>Enter your parcel's weight:<br /></span>
						<input id="weight" type="number" name="weight" style="font-size: inherit;">
						<br><br>
						<button id="clear" type="reset" name="clear" value="Clear" onclick="clearForm();">Clear</button>
						<br><br>
						<button id="calculate" type="submit" name="calculate" value="Calculate" onclick="getRate();">Calculate</button>	
					<br />
					<br />
               <div id="divResults" style="display: inline;">
						<h2>Your total cost is: <span id="totalcost"></span></h2>
						<div style="display: inline-block;" id="cost"></div>
               </div>
				</div>
			</div>
        </section>    
    </div>
    <footer>
		<br /><br />
		Address. xxx XXX Portland, OR xxxxx<br />
		Tel. 123-456-7890<br />      
		Email. nev05002@byui.edu<br /><br />
		© 2020 by Neves.
		<br /><br />
		<a href="#">Contact Us!</a>
    </footer>
</body>
</html>
